.conteyner {
    width: 1140px;
    margin: 0 auto;
    background: cadetblue;
}
header {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
}
ul.muv {
    margin: 0;
    padding: 5px;
}
ul.muv {
    margin-right: 5px;
    border: 1px;
    padding: 3px;
}
li {
    list-style-type: none;
    display: inline;
    padding: 15px;
    font-size: x-large;
}
a[href="http://seasonvar.ru/serial-14242-Teoriya_bolshogo_vzryva--000010-sezon.html"] {
    color: cornsilk;
    text-decoration: none;
   }
a[href="https://uk.wikipedia.org/wiki/HTML"] {
    color: cornsilk;
    text-decoration: none;
}
a[href="https://uk.wikipedia.org/wiki/CSS"] {
    color: cornsilk;
    text-decoration: none;
}
a[href="https://www.youtube.com"] {
    color: cornsilk;
    text-decoration: none;
}
.second_block {
    background: ghostwhite;
}
img {
    margin: 0 auto;
}
.thirt_block {
    text-align: center;
    margin-left: 25px;
    margin-right: 25px;
}
h2 {
    text-align: center;
    margin: 20px;
}
button {
    font-size: medium;
    padding: 10px;
    text-transform: uppercase;
    margin-left: 500px;
    color: beige;
    background: mediumspringgreen;
}